/**
 *  Fonts
 */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


/**
 *  Variables
 */
:root {
    --body-colour: #222;
    --accent-colour: rgb(214, 95, 155);
}


/**
 *  Generic types
 */
html {
    /* Prevents centred element from moving around
        when the scrollbar pop up */
    width: 100vw;
    overflow-x: hidden;
    margin: 0px, 0px;
    padding: 0px, 0px;
}

h1, h2, h3 {
    line-height: 1.2;
    font-family: Pacifico, serif;
}

a {
    color: var(--accent-colour);
    font-weight: bold;
    text-decoration: none;
}


/**
 *  Custom Types
 */
.main {
    min-height: 90vh;
    margin: 0px auto;
    padding: 30px 40px;
    max-width: 650px;
    font-family: sans-serif;
    color: var(--body-colour);
    background-color: rgb(255, 255, 255, 0.7);
    font-size: 1em;
}

.list-entry {
    border-radius: 20px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0px 6px rgb(0, 0, 0, 0.2);
    padding: 3% 4%;
    margin: 5% 0%;
}

.taglist {
    margin-top: 5px;
}

.taglist__tag {
    text-decoration-style: dotted;
    font-size: 0.9rem;
    margin-left: 10px;
}

.sortby {
    font-size: 0.9rem;
    font-style: italic;
}

.sortby__back {
    float: right;
}

.searchbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.spaced-buttons {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.editform {
    position: relative;
    padding-bottom: 60px;
}

.editform__label {
    font-size: 0.8rem;
    display: block;
    margin-bottom: 2px;
}

.longfield {
    width: 100%;
    margin-bottom: 10px;
}

.editform__field {
    margin-bottom: 10px;
}

.editform__submit-button {
    position: absolute;
    bottom: 15px;
    left: 20px;
}

.editform__delete-button {
    position: absolute;
    bottom: 15px;
    right: 20px;
}

.editform__cancel {
    float: right;
    margin-bottom: 10px;
}

.spacer {
    height: 20px;
}

textarea.wide {
    width: 100%;
    margin-bottom: 20px;
}

.keyname {
    margin: 6px 0px;
}

.login-failed {
  animation: fadeIn linear 0.5s;
  -webkit-animation: fadeIn linear 0.5s;
  -moz-animation: fadeIn linear 0.5s;
  -o-animation: fadeIn linear 0.5s;
  -ms-animation: fadeIn linear 0.5s;
}


/**
 *  Verbose, fancy stuff
 */
body {
    background: linear-gradient(90deg, rgba(255, 225, 132, .7) 50%, rgba(255,255,255, 0) 50%),
    linear-gradient(90deg, rgba(32, 113, 120, .3) 50%, rgba(255,255,255, 0) 50%),
    linear-gradient(90deg, rgba(255, 150, 102, .3) 50%, rgba(255,255,255, 0) 50%),
    linear-gradient(90deg, rgba(23, 76, 79, .1) 50%, rgba(255,255,255, 0) 50%);
    background-size: 7em 7em, 5em 5em, 3em 3em, 1em 1em;
    background-color: #F5E9BE;
}


button.link {
    align-items: normal;
    background-color: rgba(0,0,0,0);
    border-color: rgb(0, 0, 0, 0);
    border-style: none;
    box-sizing: content-box;
    color: var(--accent-colour);
    cursor: pointer;
    display: inline;
    font: inherit;
    height: auto;
    padding: 0;
    perspective-origin: 0 0;
    text-align: start;
    transform-origin: 0 0;
    width: auto;
    -moz-appearance: none;
    -webkit-logical-height: 1em; /* Chrome ignores auto, so we have to use this hack to set the correct height  */
    -webkit-logical-width: auto; /* Chrome ignores auto, but here for completeness */
}

hr {
    margin: 1.5em auto;
    position: relative;
    height: 9px;
    width: 9px;
    border: transparent;
    overflow: visible;
    background-image: url('data:image/svg+xml;utf8,<svg width="9" height="9" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><rect x="0.75" y="0.5" width="8" height="8" rx="4" fill="%231CB0A8" /></svg>');
}

hr:before {
    position: absolute;
    height: 9px;
    width: 10px;
    content: '';
    background-image: url('data:image/svg+xml;utf8,<svg width="10" height="9" viewBox="0 0 10 9" xmlns="http://www.w3.org/2000/svg"><path d="M3.91043 1.29752C4.30449 0.688518 5.19551 0.688519 5.58957 1.29752L9.25143 6.95675C9.68196 7.62211 9.20436 8.5 8.41186 8.5H1.08814C0.29564 8.5 -0.181954 7.62211 0.248574 6.95675L3.91043 1.29752Z" fill="%23FCB643" /></svg>');
    left: -18px;
}

hr:after {
    position: absolute;
    height: 9px;
    width: 9px;
    content: '';
    background-image: url('data:image/svg+xml;utf8,<svg width="9" height="9" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><rect x="0.75" y="0.5" width="8" height="8" rx="1" fill="%23EF4056" /></svg>');
    right: -18px;    
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}