{{ define "base" }}
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
    <script type="module">import "/static/turbo.es2017-esm.js";</script>
    <script type="module" src="/static/controllers.js"></script>
    {{ template "head" . }}
</head>

<body>
    <div class="turbo-progress-bar"></div>
    <div class="main">
        {{ template "body" . }}
    </div>
</body>

</html>
{{ end }}

{{ define "nav" }}
<div class="navbar">
    <a href="/bookmarks">Index</a>&nbsp;
    <a href="/tags">Tags</a>&nbsp;
    <a href="/keys">API Keys</a>&nbsp;
    <a href="/export">Export</a>&nbsp;
    <a href="/logout">Log out</a>
</div>
{{ end }}

{{ define "bookmark" }}
{{ $searchParams := .SearchParams }}
<turbo-frame id="entry-{{ .Bookmark.Id }}">
    <div class="list-entry">
        <a href="{{ .Bookmark.Url }}">{{ .Bookmark.Name }}</a>
        <p>{{ .Bookmark.Description }}</p>
        <div style="float: right">
            <a href="/bookmarks/edit/{{ .Bookmark.Id }}{{ $searchParams | paramQueryString }}"><button>Edit</button></a>
        </div>
        <turbo-frame target="_top">
            Tags:
            {{ range $tagIndex, $tagName := .Bookmark.Tags }}
            {{- if ne $tagIndex 0 }}, {{ end -}}
            <a href="/bookmarks{{  $searchParams | paramAddTag $tagName | paramQueryString }}">{{ $tagName }}</a>
            {{- end }}
        </turbo-frame>
    </div>
</turbo-frame>
{{ end }}

{{ define "edit" }}
<label class="editform__label" for="form-name">Name</label>
<input class="longfield" id="form-name" type="text" name="name" placeholder="Name" value="{{ .Name }}"
    autocomplete="off">
<label class="editform__label" for="form-url">URL</label>
<input class="longfield" for="form-url" type="text" name="url" placeholder="https://www.example.com" value="{{ .Url }}"
    autocomplete="off">
<label class="editform__label" for="form-description">Description</label>
<input class="longfield" id="form-description" type="text" name="description" placeholder="Description"
    value="{{ .Description }}" autocomplete="off">
<div data-controller="bookmark-tagger">
    <label class="editform__label" for="form-tags">Tags</label>
    <input id="form-tags" data-bookmark-tagger-target="tagName" data-action="keydown->bookmark-tagger#addTag"
        type="text" placeholder="Tag name" value="" autocomplete="off">
    <button type="button" data-action="click->bookmark-tagger#addTag">Add tag</button>
    <div data-bookmark-tagger-target="tagList">
        {{ range .Tags }}
        <span class="taglist__tag" data-controller="tag" data-tag-target="self">
            <input type="hidden" name="tag" value="{{ . }}">
            {{ . }}
            <button class="linkbutton" data-action="click->tag#remove" type="button">×</button>
            &nbsp;
        </span>
        {{ end }}
    </div>
</div>
{{ end }}