{{ define "base" }}
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
    <script type="module">
        import hotwiredTurbo from "https://cdn.skypack.dev/@hotwired/turbo";
    </script>
    {{ template "head" . }}
</head>

<body>
    <div class="turbo-progress-bar"></div>
    <div class="main">
        {{ template "body" . }}
    </div>
</body>

</html>
{{ end }}

{{ define "nav" }}
<p>
    <a href="/bookmarks">Index</a>&nbsp;
    <a href="/keys">API Keys</a>&nbsp;
    <a href="/export">Export</a>&nbsp;
    <a href="/logout">Log out</a>
</p>
{{ end }}

{{ define "bookmark" }}
{{ $searchParams := .SearchParams }}
<turbo-frame id="entry-{{ .Bookmark.Id }}">
    <div class="list-entry">
        <a href="{{ .Bookmark.Url }}">{{ .Bookmark.Name }}</a>
        <p>{{ .Bookmark.Description }}</p>
        <div style="float: right">
            <a href="/bookmarks/edit/{{ .Bookmark.Id }}{{ $searchParams | paramQueryString }}"><button>Edit</button></a>
        </div>
        <turbo-frame target="_top">
            Tags:
            {{ range $tagIndex, $tagName := .Bookmark.Tags }}
            {{- if ne $tagIndex 0 }}, {{ end -}}
            <a href="/bookmarks{{  $searchParams | paramAddTag $tagName | paramQueryString }}">{{ $tagName }}</a>
            {{- end }}
        </turbo-frame>
    </div>
</turbo-frame>
{{ end }}