{{ define "base" }}
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
    <script type="module">
        import hotwiredTurbo from "https://cdn.skypack.dev/@hotwired/turbo";
    </script>
    {{ template "head" . }}
</head>

<body>
    <div class="turbo-progress-bar"></div>
    <div class="main">
        {{ template "body" . }}
    </div>
</body>

</html>
{{ end }}

{{ define "nav" }}
<p>
    <a href="/bookmarks">Index</a>&nbsp;
    <a href="/keys">API Keys</a>&nbsp;
    <a href="/export">Export</a>&nbsp;
    <a href="/logout">Log out</a>
</p>
{{ end }}