{{ template "base" . }}

{{ define "head" }}
<title>Edit {{ .Bookmark.Name }}</title>
<script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
<script src="/static/controllers.js"></script>
{{ end }}

{{ define "body" }}
<h1>Editing {{ .Bookmark.Name }}</h1>
{{ template "nav" . }}

<turbo-frame id="entry-{{ .Bookmark.Id }}">
    <div class=bookmark-entry>
        <form method=POST action="/bookmarks/edit/{{ .Bookmark.Id }}{{ .SearchParams | paramQueryString }}">
            <input type=text name=name placeholder="Name" value="{{ .Bookmark.Name }}" autocomplete=off>
            <input type=text name=url placeholder="https://www.example.com" value="{{ .Bookmark.Url }}"
                autocomplete=off>
            <input type=text name=description placeholder="Description" value="{{ .Bookmark.Description }}"
                autocomplete=off>
            <a href="/bookmarks/view/{{ .Bookmark.Id }}{{ .SearchParams | paramQueryString }}">Cancel</a>
            <div data-controller="bookmark-tagger">
                <ul data-bookmark-tagger-target="tagList">
                    {{ range .Bookmark.Tags }}
                    <li data-controller="tag" data-tag-target="self">
                        <input type=text name=tag readonly=readonly value="{{ . }}">
                        <button data-action="click->tag#remove" type=button>Remove</button>
                    </li>
                    {{ end }}
                </ul>
                <input data-bookmark-tagger-target="tagName" data-action="keydown->bookmark-tagger#addTag" type=text
                    placeholder="Tag name" value="" autocomplete=off>
                <button type=button data-action="click->bookmark-tagger#addTag">Add tag</button>
            </div>
            <input type=submit value="Update">
        </form>
        <div data-controller="are-you-sure">
            <button data-are-you-sure-target="initial" data-action="click->are-you-sure#prime">Delete</button>
            <form data-are-you-sure-target="primary" method=POST
                action="/bookmarks/delete/{{ .Bookmark.Id }}{{ .SearchParams | paramQueryString }}"
                data-turbo-frame="list" style="display: none">
                Are you sure?&nbsp;
                <button>Delete</button></a>&nbsp;
                <button type=button data-action="click->are-you-sure#cancel">Cancel</button>
            </form>
        </div>
    </div>
</turbo-frame>
{{ end }}