{{ template "base" . }}

{{ define "head" }}
<title>Export</title>
<script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
<script src="/static/controllers.js"></script>
{{ end }}

{{ define "body" }}
<h1>Export</h1>
{{ template "nav" . }}

<hr>

<turbo-frame id="export">
    <div data-controller="clipboard-copier">
        <textarea class="wide" data-clipboard-copier-target="text" readonly="readonly">{{ . }}</textarea>
        <div class="spaced-buttons">
            <button data-action="click->clipboard-copier#copy">Copy</button>
            <form method="GET" action="/export">
                <input type="hidden" name="really" value="yes">
                <input type="submit" value="Export all bookmarks">
            </form>
        </div>
    </div>
</turbo-frame>
{{ end }}