{{ template "base" . }}

{{ define "head" }}
<title>Bookmarks</title>
<script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
<script src="/static/controllers.js"></script>
{{ end }}

{{ define "body" }}
{{ $searchParams := .SearchParams }}

<h1>Bookmarks</h1>
{{ template "nav" . }}

<hr>

<turbo-frame id="list">
    <h2>Search</h2>
    <form action='/bookmarks{{ $searchParams |  paramSetSearch "" | paramClearTags | paramQueryString }}' method=GET>
        <div class=searcharea data-controller="bookmark-tagger">
            <div class=searchbar>
                <div>
                    <input data-bookmark-tagger-target="tagName" data-action="keydown->bookmark-tagger#addSearchTag"
                        type=text placeholder="Tag name" value="" autocomplete=off>
                    <button type=button data-action="click->bookmark-tagger#addSearchTag">Add tag</button>
                </div>
                <input type=text name=search placeholder="Search…" value="{{ $searchParams.Search }}" autocomplete=off>
                <input type=submit value="Go!">
            </div>
            <div data-bookmark-tagger-target="tagList">
                {{ range $searchParams.SearchTags }}
                <span class=tag data-controller="tag" data-tag-target="self">
                    <input type=hidden name=searchTag readonly=readonly value="{{ . }}">
                    {{ . }}
                    <button class=link data-action="click->tag#remove" type=button>×</button>
                    &nbsp;
                </span>
                {{ end }}
            </div>
            {{ if or ($searchParams.Search) (ne (len $searchParams.SearchTags) 0) }}
            <a class=back href='/bookmarks{{ $searchParams | paramSetSearch "" | paramClearTags | paramQueryString }}'>
                &nbsp;Back ↩︎
            </a>
            {{ end }}
        </div>
    </form>
    <p class=sortby>
        {{ if eq $searchParams.Order "reverse" }}
        Sorting by oldest.
        <a href='/bookmarks{{ $searchParams | paramSetOrder "normal" | paramQueryString }}'>Sort by newest?</a>
        {{ else }}
        Sorting by newest.
        <a href='/bookmarks{{ $searchParams | paramSetOrder "reverse" | paramQueryString }}'>Sort by oldest?</a>
        {{ end }}
    </p>

    <div data-controller="new-dialogue">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h2>
                {{ if $searchParams.Search }}Searching "{{ $searchParams.Search}}"{{ end }}
                {{ if $searchParams.SearchTags }}{{ if $searchParams.Search }}and f{{ else }}F{{ end }}iltering by
                tags{{ end }}
                {{ if not (or $searchParams.Search $searchParams.SearchTags) }}All bookmarks{{ end }}
            </h2>
            <div>
                <button data-new-dialogue-target="showButton" data-action="click->new-dialogue#show">New</button>
                <button data-new-dialogue-target="hideButton" data-action="click->new-dialogue#hide"
                    style="display: none">Cancel</button>
            </div>
        </div>
        <div data-new-dialogue-target="form" class=bookmark-entry style="display: none">
            <form method=POST action="/bookmarks/create{{ $searchParams | paramQueryString }}">
                <input id=name type=text name=name placeholder="Name" value="" autocomplete=off>
                <input type=text name=url placeholder="https://www.example.com" value="" autocomplete=off>
                <input type=text name=description placeholder="Description" value="" autocomplete=off>
                <div data-controller="bookmark-tagger">
                    <ul data-bookmark-tagger-target="tagList"></ul>
                    <input data-bookmark-tagger-target="tagName" data-action="keydown->bookmark-tagger#addTag" type=text
                        placeholder="Tag name" value="" autocomplete=off>
                    <button type=button data-action="click->bookmark-tagger#addTag">Add tag</button>
                </div>
                <input type=submit value="Bookmark">
            </form>
        </div>
    </div>
    {{ range .Bookmarks }}
    <turbo-frame id="entry-{{ .Id }}">
        <div class=bookmark-entry>
            <strong><a href={{ .Url }}>{{ .Name }}</a></strong> —
            {{ .Description }}
            <div style="float: right">
                <a href="/bookmarks/edit/{{ .Id }}{{ $searchParams | paramQueryString }}"><button>Edit</button></a>
            </div>
            <div>
                Tags:
                {{ range $tagIndex, $tagName := .Tags }}
                {{ if ne $tagIndex 0 }}, {{ end }}{{ $tagName }}
                {{ end }}
            </div>
        </div>
    </turbo-frame>
    {{ end }}

    <p>
        {{ if .Pager.First }}
        <a href="/bookmarks{{ $searchParams | paramSetPage .Pager.First | paramQueryString }}">{{ .Pager.First }}</a> …
        {{ end }}
        {{ range .Pager.Prev }}
        <a href="/bookmarks{{ $searchParams | paramSetPage . | paramQueryString }}">{{ . }}</a>
        {{ end }}
        <strong>{{ .Pager.Current }}</strong>
        {{ range .Pager.Next }}
        <a href="/bookmarks{{ $searchParams | paramSetPage . | paramQueryString }}">{{ . }}</a>
        {{ end }}
        {{ if .Pager.Last }}
        … <a href="/bookmarks{{ $searchParams | paramSetPage .Pager.Last | paramQueryString }}">{{ .Pager.Last }}</a>
        {{ end }}
    </p>
</turbo-frame>
{{ end }}