{{ template "base" . }}

{{ define "head" }}
<title>Bookmarks</title>
<script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
<script src="/static/controllers.js"></script>
{{ end }}

{{ define "body" }}
{{ $searchParams := .SearchParams }}

<h1>Bookmarks</h1>
{{ template "nav" . }}

<hr>

<turbo-frame id="list">
    <h2>Search</h2>
    <form action='/bookmarks{{ $searchParams |  paramSetSearch "" | paramClearTags | paramQueryString }}' method="GET">
        <div data-controller="bookmark-tagger">
            <div class="searchbar">
                <div>
                    <input type="text" name="search" placeholder="Search…" value="{{ $searchParams.Search }}"
                        autocomplete="off">
                    <input data-bookmark-tagger-target="tagName" data-action="keydown->bookmark-tagger#addSearchTag"
                        type="text" placeholder="Tag name" value="" autocomplete="off">
                    <button type="button" data-action="click->bookmark-tagger#addSearchTag">Add tag</button>
                </div>
                <input type="submit" value="Go!">
            </div>
            <div class="taglist" data-bookmark-tagger-target="tagList">
                {{ range $searchParams.SearchTags }}
                <span class="taglist__tag" data-controller="tag" data-tag-target="self">
                    <input type="hidden" name="searchTag" readonly="readonly" value="{{ . }}">
                    {{ . }}
                    <button class="link" data-action="click->tag#remove" type="button">×</button>
                    &nbsp;
                </span>
                {{ end }}
            </div>
        </div>
    </form>
    <p class="sortby">
        {{ if eq $searchParams.Order "reverse" }}
        Sorting by oldest.
        <a href='/bookmarks{{ $searchParams | paramSetOrder "normal" | paramQueryString }}'>Sort by newest?</a>
        {{ else }}
        Sorting by newest.
        <a href='/bookmarks{{ $searchParams | paramSetOrder "reverse" | paramQueryString }}'>Sort by oldest?</a>
        {{ end }}
        {{ if or ($searchParams.Search) (ne (len $searchParams.SearchTags) 0) }}
        <a class="sortby__back"
            href='/bookmarks{{ $searchParams | paramSetSearch "" | paramClearTags | paramQueryString }}'>
            Back ↩︎
        </a>
        {{ end }}
    </p>

    <hr>

    <div data-controller="new-dialogue">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h2>
                {{ if $searchParams.Search -}}
                Searching "{{ $searchParams.Search}}"
                {{- end -}}
                {{ if $searchParams.SearchTags -}}
                {{ if $searchParams.Search }}and f{{ else }}F{{ end }}iltering by tags
                {{- end }}
                {{ if not (or $searchParams.Search $searchParams.SearchTags) }}All bookmarks{{ end }}
            </h2>
            <div>
                <button data-new-dialogue-target="showButton" data-action="click->new-dialogue#show">New</button>
                <button data-new-dialogue-target="hideButton" data-action="click->new-dialogue#hide"
                    style="display: none">Cancel</button>
            </div>
        </div>
        <div data-new-dialogue-target="form" class="list-entry" style="display: none">
            <div class="editform">
                <form method="POST" action="/bookmarks/create{{ $searchParams | paramQueryString }}">
                    {{ template "edit" emptyBookmark }}
                    <input class="editform__right-button" type="submit" value="Bookmark">
                </form>
            </div>
        </div>
    </div>
    {{ range .Bookmarks }}
    {{ template "bookmark" (bookmarkAndParams . $searchParams) }}
    {{ end }}

    <p class="pager">
        {{ if .Pager.First }}
        <a href="/bookmarks{{ $searchParams | paramSetPage .Pager.First | paramQueryString }}">{{ .Pager.First }}</a> …
        {{ end }}
        {{ range .Pager.Prev }}
        <a href="/bookmarks{{ $searchParams | paramSetPage . | paramQueryString }}">{{ . }}</a>
        {{ end }}
        <strong>{{ .Pager.Current }}</strong>
        {{ range .Pager.Next }}
        <a href="/bookmarks{{ $searchParams | paramSetPage . | paramQueryString }}">{{ . }}</a>
        {{ end }}
        {{ if .Pager.Last }}
        … <a href="/bookmarks{{ $searchParams | paramSetPage .Pager.Last | paramQueryString }}">{{ .Pager.Last }}</a>
        {{ end }}
    </p>
</turbo-frame>
{{ end }}