{{ template "base" . }}

{{ define "head" }}
<title>Bookmarks</title>
<script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
<script src="/static/controllers.js"></script>
{{ end }}

{{ define "body" }}
{{ $searchParams := .SearchParams }}

<h1>Bookmarks</h1>
<div style="float: right"><a href="/logout">Log out</a></div>

<turbo-frame id="list">
    <div data-controller="bookmark-tagger">
        <form action='/bookmarks{{ $searchParams |  paramSetSearch "" | paramClearTags | paramQueryString }}'
            method=GET>
            <input type=text name=search placeholder="Search…" value="{{ $searchParams.Search }}" autocomplete=off>
            <input type=submit value="Go">
            {{ if or ($searchParams.Search) (ne (len $searchParams.SearchTags) 0) }}
            <a href='/bookmarks{{ $searchParams | paramSetSearch "" | paramClearTags | paramQueryString }}'>Back</a>
            {{ end }}
            <div data-controller="bookmark-tagger">
                <ul data-bookmark-tagger-target="tagList">
                    {{ range $searchParams.SearchTags }}
                    <li data-controller="tag" data-tag-target="self">
                        <input type=text name=searchTag readonly=readonly value="{{ . }}">
                        <button data-action="click->tag#remove" type=button>Remove</button>
                    </li>
                    {{ end }}
                </ul>
                <input data-bookmark-tagger-target="tagName" data-action="keydown->bookmark-tagger#addTag" type=text
                    placeholder="Tag name" value="" autocomplete=off>
                <button type=button data-action="click->bookmark-tagger#addTag">Add tag</button>
            </div>
        </form>
    </div>
    {{ if eq $searchParams.Order "reverse" }} <p>Sorting by oldest.
        <a href='/bookmarks{{ $searchParams | paramSetOrder "normal" | paramQueryString }}'>Sort by newest?</a>
    </p>
    {{ else }}
    <p>Sorting by newest.
        <a href='/bookmarks{{ $searchParams | paramSetOrder "reverse" | paramQueryString }}'>Sort by oldest?</a>
    </p>
    {{ end }}

    <div data-controller="new-bookmark">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h2>{{ if $searchParams.Search }}Searching "{{ $searchParams.Search }}"{{ else }}All bookmarks{{ end }}</h2>
            <div>
                <button data-new-bookmark-target="showButton" data-action="click->new-bookmark#show">New</button>
                <button data-new-bookmark-target="hideButton" data-action="click->new-bookmark#hide"
                    style="display: none">Cancel</button>
            </div>
        </div>
        <div data-new-bookmark-target="form" class=bookmark-entry style="display: none">
            <form method=POST action="/bookmarks/create{{ $searchParams | paramQueryString }}">
                <input type=text name=name placeholder="Name" value="" autocomplete=off>
                <input type=text name=url placeholder="https://www.example.com" value="" autocomplete=off>
                <input type=text name=description placeholder="Description" value="" autocomplete=off>
                <div data-controller="bookmark-tagger">
                    <ul data-bookmark-tagger-target="tagList"></ul>
                    <input data-bookmark-tagger-target="tagName" data-action="keydown->bookmark-tagger#addTag" type=text
                        placeholder="Tag name" value="" autocomplete=off>
                    <button type=button data-action="click->bookmark-tagger#addTag">Add tag</button>
                </div>
                <input type=submit value="Bookmark">
            </form>
        </div>
    </div>
    {{ range .Bookmarks }}
    <turbo-frame id="entry-{{ .Id }}">
        <div class=bookmark-entry>
            <strong><a href={{ .Url }}>{{ .Name }}</a></strong> —
            {{ .Description }}
            <div style="float: right">
                <a href="/bookmarks/edit/{{ .Id }}{{ $searchParams | paramQueryString }}"><button>Edit</button></a>
            </div>
            <div>
                Tags:
                {{ range $tagIndex, $tagName := .Tags }}
                {{ if ne $tagIndex 0 }}, {{ end }}{{ $tagName }}
                {{ end }}
            </div>
        </div>
    </turbo-frame>
    {{ end }}

    <p>
        {{ if .Pager.First }}
        <a href="/bookmarks{{ $searchParams | paramSetPage .Pager.First | paramQueryString }}">{{ .Pager.First }}</a> …
        {{ end }}
        {{ range .Pager.Prev }}
        <a href="/bookmarks{{ $searchParams | paramSetPage . | paramQueryString }}">{{ . }}</a>
        {{ end }}
        <strong>{{ .Pager.Current }}</strong>
        {{ range .Pager.Next }}
        <a href="/bookmarks{{ $searchParams | paramSetPage . | paramQueryString }}">{{ . }}</a>
        {{ end }}
        {{ if .Pager.Last }}
        … <a href="/bookmarks{{ $searchParams | paramSetPage .Pager.Last | paramQueryString }}">{{ .Pager.Last }}</a>
        {{ end }}
    </p>
</turbo-frame>
{{ end }}