{{ template "base" . }}

{{ define "head" }}
<title>API Keys</title>
<script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
<script src="/static/controllers.js"></script>
{{ end }}

{{ define "body" }}
<h1>API Keys</h1>
{{ template "nav" . }}

<turbo-frame id="keys">
    <div data-controller="new-dialogue">
        <form method=POST action="/keys/create">
            <input type=text name=name value="" autocomplete=off>
            <input type=submit value="Create">
        </form>
    </div>
    {{ range . }}
    <div class=bookmark-entry>
        <div data-controller="bookmarklet-copier">
            <div data-controller="text-copier">
                <p><em>{{ .Name }}:</em> <input type=text readonly=readonly data-bookmarklet-copier-target="key"
                        data-text-copier-target="text" value="{{ .Key }}"></p>
                <button data-action="click->text-copier#copy">Copy</button>
                <button data-action="click->bookmarklet-copier#copy">Copy Bookmarklet</button>
            </div>
        </div>
        <div data-controller="are-you-sure"></div>
        <button data-are-you-sure-target="initial" data-action="click->are-you-sure#prime">Revoke</button>
        <form data-are-you-sure-target="primary" method=POST action="/keys/delete/{{ .Id }}" data-turbo-frame="list"
            style="display: none">
            Are you sure?&nbsp;
            <button>Revoke</button></a>&nbsp;
            <button type=button data-action="click->are-you-sure#cancel">Cancel</button>
        </form>
    </div>
    </div>
    {{ end }}
</turbo-frame>
{{ end }}