{{ template "base" . }}

{{ define "head" }}
<title>{{ .Bookmark.Name }}</title>
{{ end }}

{{ define "body" }}
<h1>{{ .Bookmark.Name }}</h1>

<turbo-frame id="entry-{{ .Bookmark.Id }}">
    <div class=bookmark-entry>
        <strong><a href={{ .Bookmark.Url }}>{{ .Bookmark.Name }}</a></strong> —
        {{ .Bookmark.Description }}
        <div style="float: right">
            <a href="/bookmarks/edit/{{ .Bookmark.Id }}{{ .SearchParams | paramQueryString }}"><button>Edit</button></a>
        </div>
        <div>
            Tags:
            {{ range $tagIndex, $tagName := .Bookmark.Tags }}
            {{ if ne $tagIndex 0 }}, {{ end }}{{ $tagName }}
            {{ end }}
        </div>
    </div>
</turbo-frame>
{{ end }}