{{ template "base" . }}

{{ define "head" }}
<title>Bookmarks</title>
<script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
<script>
    (() => {
        const application = Stimulus.Application.start()

        application.register("new-bookmark", class extends Stimulus.Controller {
            static get targets() {
                return ["form", "showButton", "hideButton"]
            }

            show() {
                this.formTarget.style.display = ""
                this.showButtonTarget.style.display = "none"
                this.hideButtonTarget.style.display = ""
            }

            hide() {
                this.formTarget.style.display = "none"
                this.showButtonTarget.style.display = ""
                this.hideButtonTarget.style.display = "none"
            }
        })

        application.register("bookmark-editor", class extends Stimulus.Controller {
            static get targets() {
                return ["deletePrimary", "deleteYN"]
            }

            delete() {
                this.deletePrimaryTarget.style.display = "none"
                this.deleteYNTarget.style.display = ""
            }

            deleteCancel() {
                this.deletePrimaryTarget.style.display = ""
                this.deleteYNTarget.style.display = "none"
            }
        })
    })()
</script>
{{ end }}

{{ define "body" }}
<h1>Bookmarks</h1>

<turbo-frame id="recent">
    <div data-controller="new-bookmark">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h2>Recent</h2>
            <div>
                <button data-new-bookmark-target="showButton" data-action="click->new-bookmark#show">New</button>
                <button data-new-bookmark-target="hideButton" data-action="click->new-bookmark#hide"
                    style="display: none">Cancel</button>
            </div>
        </div>
        <div data-new-bookmark-target="form" class=bookmark-entry style="display: none">
            <form method=POST action="/actions/submit">
                <input type=text name=name placeholder="Name" value="" autocomplete=off>
                <input type=text name=url placeholder="https://www.example.com" value="" autocomplete=off>
                <input type=text name=description placeholder="Description" value="" autocomplete=off>
                <!--<button id=scrape_desc>Scrape description</button>-->
                <input type=submit value="Bookmark">
            </form>
        </div>
    </div>
    {{ range .Recent }}
    <div class=bookmark-entry>
        <strong><a href={{ .Url }}>{{ .Name }}</a></strong> —
        {{ .Description }}
        <div style="float: right" data-controller="bookmark-editor">
            <button data-bookmark-editor-target="deletePrimary"
                data-action="click->bookmark-editor#delete">Delete</button>
            <span data-bookmark-editor-target="deleteYN" style="display: none">
                Are you sure?&nbsp;
                <form method=DELETE action="/bookmark/"></form>
                <a href="/delete/"><button>Delete</button></a>&nbsp;
                <button data-action="click->bookmark-editor#deleteCancel">Cancel</button>
            </span>
        </div>
    </div>
    {{ end }}
</turbo-frame>
{{ end }}